<!doctype html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>EmployeeApp</title>

    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <!-- Place favicon.ico in the root directory -->

    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="/bower_components/angular-toastr/dist/angular-toastr.css" />
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
    
    <!-- build:js scripts/vendor/modernizr.js -->
    <script src="/bower_components/modernizr/modernizr.js"></script>
    <!-- endbuild -->
  </head>
  <body ng-app="employeeApp">
    
    <div class="container" ng-controller="employeeController">
      <div class="header">
          <h1>Employee Directory</h1>
      </div>
        
        
      <div class="row employeeOptions">
          <button type="button" class="btn btn-lg btn-primary" uib-popover="I appeared on mouse enter!" popover-trigger="'mouseenter'" ng-click='modalOpen()'>Add Employee</button>        
      </div>
        
      <div class="row editEmployee">
          <div class="col-lg-12 ">
              <table class="employeeTable table table-responsive table-hover table-bordered">
                  <thead><th>Name</th><th>Email</th><th>Department</th><th>Gender</th><th>D.O.B</th><th>Age</th><th>Action</th></thead>
                  <tbody>
                      <tr ng-repeat="emp in allEmp">
                          <td>{{emp.name}}</td><td>{{emp.email}}</td><td>{{emp.department}}</td><td>{{emp.gender}}</td><td>{{emp.date | date:'yyyy-MM-dd'}}</td><td>{{emp.age}}</td>
                          <td><span class="actionbuttons label label-primary" ng-click='modalOpen(emp)'>Update</span>&nbsp;&nbsp;<span class="actionbuttons label label-warning" ng-click="removeEmployee(emp.email)">Delete</span></td>
                      </tr>
                  </tbody>
              </table>
          </div>
      </div>
    </div>
    

    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="/bower_components/jquery/dist/jquery.js"></script>
    <script src="/bower_components/modernizr/modernizr.js"></script>
    <script src="/bower_components/angular/angular.js"></script>
    <script src="/bower_components/angular-animate/angular-animate.js"></script>
    <script src="/bower_components/angular-touch/angular-touch.js"></script>
    <script src="/bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="/bower_components/angular-toastr/dist/angular-toastr.tpls.js"></script>
    <!-- endbower -->
    <!-- endbuild -->
    
    <!-- build:js scripts/plugins.js -->
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/affix.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/alert.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/dropdown.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/tooltip.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/modal.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/transition.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/button.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/popover.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/carousel.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/scrollspy.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/collapse.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/tab.js"></script>
    <!-- endbuild -->
    
    <!-- build:js scripts/main.js -->
    <script src="scripts/main.controller.js"></script>
    <script src="scripts/modal.controller.js"></script>
    <!-- endbuild -->
  </body>
</html>
